<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        <hgroup>
            <h1 class="brand-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
            <h2 class="brand-tagline">{{ with .Site.Params.description }} {{.}} {{end}}</h2>
        </hgroup>
		<div>
		<br />
		<nav class="nav">
			<ul class="nav-list">
    			<li class="mynav-item"><a class="pure-button" href="{{ .Site.BaseURL }}">Blog</a></li>
    			<li class="mynav-item"><a class="pure-button" href="{{ .Site.BaseURL }}about/">About</a></li>
    			<li class="mynav-item"><a class="pure-button" href="{{ .Site.BaseURL }}post/">Archives</a></li>
			</ul>
		</nav>
		</div>
		<br />
        <nav class="nav">
            <ul class="social-list">
                {{ with .Site.Params.twitter }}
                <li class="social-item">
                    <a class="pure-button" href="https://twitter.com/{{ . }}"><i class="fa fa-twitter"></i></a>
                </li>
                {{ end }}
                {{ with .Site.Params.github }}
                <li class="social-item">
                    <a class="pure-button" href="{{ . }} "><i class="fa fa-github-alt"></i></a>
                </li>
                {{ end }}
				{{ with .Site.Params.linkedin }}
                <li class="social-item">
                    <a class="pure-button" href="{{ . }} "><i class="fa fa-linkedin"></i></a>
                </li>
                {{ end }}
                <li class="social-item">
                    <a class="pure-button" href="http://feeds.jamesbowman.me/jamesbowman/blog" type="application/rss+xml"><i class="fa fa-rss"></i></a>
				</li>
            </ul>
        </nav>
    </div>
</div>