{{ $quote := (trim .Inner " ") }}
{{ $url := .Page.Permalink }}
{{ $tweet := printf "'%s' - %s by @%s" $quote $url ( .Site.Params.twitterName ) }}
{{ $urlquery := ($tweet | urlquery) }}
{{ $clickhandler := (printf "window.open('https://twitter.com/intent/tweet?text=%s', '_blank', 'width=500,height=350'); return false;" $urlquery) }}
{{ $onclick := (printf "onclick=%q" $clickhandler) }}

<blockquote>
<a class="bloglogo" href="#" {{ $onclick | safeHTMLAttr }} style="text-decoration:none;">
<p>{{ $quote }}</p>
<span class="icon-twitter" style="color:#00aced;font-size:1em;"> Click to Tweet</span></a>
</blockquote>
